$shadow--light: 0px 2px 4px rgba(0,0,0,0.2);

$transition-duration: 0.5s;
$transition-duration--fast: 0.2s;


$accent: #a1c4fd;
$accent2: #c2e9fb;
$text-color: #333;
$text-color--gradient: darken($accent,30);

$default-gradient: linear-gradient(to right, $accent, $accent2);



@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans/OpenSans-Regular.ttf");
}
    
    

*{
    font-family: "Open Sans", sans-serif;
}